<div class="col-xs-12 col-md-8 col-md-offset-2">
  <div class="jumbotron">
    {{outcome-total}}
  </div>
  <center>
      {{#link-to "outcome.new" class="btn btn-lg btn-danger"}}Gastar!{{/link-to}}
  </center>
  {{outlet}}
</div>
